body {
  margin : 0;
  padding: 45px;
  background-color: black;
}
.chopper {
  color: blueviolet;
}
.moon {
  color: darkred;
}
#p1 {
  padding: 120px;
  background: url(../images/skyline.jpeg)no-repeat center;
  background-size:  cover;
}
#p2 {
  
  padding: 100px;
  background: url(../images/beachfront.jpeg)no-repeat center fixed;
  background-size:  cover;
}
#mb {
  text-align: center;
}
.column {
  float: left;
  width: 100%;
  padding: 15px;
}